* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.main {
  border: 2px solid rgb(203, 203, 203);
  border-radius: 30px;
  display: flex;
  align-items: center;
  height: 40px;
  margin-bottom: 20px;
  padding: 10px;
  gap: 5px;
}
.main input {
  width: 400px;
  padding: 5px;
  border: none;
  outline: none;
}

.logo {
  width: 400px;
  object-fit: contain;
  margin: 20px 0;
  /* border: 2px solid; */
}

.logo img {
  width: 100%;
}

.img-icons {
  width: 20px;
}

footer {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}
